EXPO_PUBLIC_API_BASE=https://umucocore.onrender.com
EXPO_PUBLIC_GOOGLE_WEB_CLIENT_ID=829742825170-qu62f7f662o16iv6hcpgcep8g80fotb9.apps.googleusercontent.com
# EXPO_PUBLIC_GOOGLE_IOS_CLIENT_ID=
# EXPO_PUBLIC_GOOGLE_ANDROID_CLIENT_ID=
